{# src/Esiea/BlogBundle/Resources/views/Advert/edit.html.twig #}

{% extends "EsieaBlogBundle::layout.html.twig" %}

{% block title %}
  Modifier une recette - {{ parent() }}
{% endblock %}

{% block esieablog_body %}

  <h2>Modifier votre recette</h2>

  {{ include("EsieaBlogBundle:Advert:formulaire.html.twig") }}


  <p>
    <a href="{{ path('esiea_blog_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>

    <a href="{{ path('esiea_blog_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste des annonces
    </a>

  </p>

{% endblock %}