{# src/Esiea/BlogBundle/Resources/views/Advert/menu.html.twig #}

{# Ce template n'hérite de personne,
   tout comme le template inclus avec {{ include() }}. #}

<ul class="nav nav-pills nav-stacked">
    {% for advert in listAdverts %}
        <li>
            <a href="{{ path('esiea_blog_view', {'id': advert.id}) }}">
                {{ advert.titre }}
            </a>
        </li>
    {% endfor %}
</ul>